.cost-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    background-color: #2564bd6f;
    border-radius: 20px;
    max-width: 500px;
    margin: 20px auto;
}

.card {
    border-radius: 20px;
    background: #00c8a746;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.5);
    padding: 20px;
}

.cost-item__description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-end;
    flex-flow: column-reverse;
    justify-content: flex-start;
    flex: 1;
}

.cost-item h2 {
    font-size: 2rem;
    flex: 1;
    margin: 0 1rem;
    color: #00ffd5;
}

.cost-item__price {
    font-size: 1rem;
    font-weight: bold;
    color: #fefae1;
    background-color: #287fc7;
    border: 1px solid white;
    padding: 0.5rem;
    border-radius: 12px;
}

@media (min-width: 580px) {
    .cost-item__description {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        flex: 1;
    }

    .cost-item__description h2 {
        font-size: 1.25rem;
    }

    .cost-item__price {
        font-size: 1.25rem;
        padding: 0.5rem 1.5rem;
    }
}

.date {
    font-size: 30px;
    color: white;
}